@import "compass";
@import "sass-bootstrap";

html{
	min-height: 100%;
	margin: 0;
	padding: 0;
	border: 0;
}

body{
	background: image-url('iqlotus_bg.png');
	background-size: cover;		
}

.navbar-header{
    text-align: center;


}

.navbar {

    border-radius: 0px;


}







